body {
    background-color: rgb(145, 225, 174);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.wrapper_calc {
    width: 400px;
    height: 550px;
    background-color: rgb(60, 60, 60);;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgb(70, 65, 65);
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_calc {
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;
}

button {
    /* Default style removal */
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    /* Default style removal */
    width: 80px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: white;
    background-color: rgb(60, 60 , 60);
    border-radius: 15px;
}

#onoff {
    width: 175px;
    font-size: 22px;
    background-color: rgba(255,93,52,255);
}

#clear {
    font-size: 22px;
    background-color: rgba(255,93,52,255);
}

button:hover {
    box-shadow: 0 0 10px rgb(137, 60, 60); 
    transition-duration:0.3s;
}

button:active {
    box-shadow: inset 0 0 10px #000000;
    transition-duration: 0.2s;
}

#display {
    height: 100%;
    background-color: rgb(179, 179, 0);
    font-size: 74px;
    font-family: 'Calculator', sans-serif;
    color: rgb(153, 0, 0)    ;
    margin: 25px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: inset 0 0 10px #3c3827;
    border-radius: 15px;
}

.buttons {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operator {
    background-color: rgb(252,155,132);
}